body {
  align-content: space-around;
}

h2 {
  margin: 2%;
}

.login {
  float: right;
  align-self: auto;
  margin: 2%;
  border-radius: 5px;
  background-color: #333;
}
a {
  margin: 10%;
}
.spotify{
  align-items: center;
  background-color: #DDD;
  border-radius: 5px;
  margin: 2%;
  margin-right: 60%;
}
.songs {
  align-items: center;
  background-color: #DDD;
  border-radius: 5px;
  margin: 2%;
  margin-right: auto;
}

iframe {
  background-color: #333;
  border-radius: 5px;
}
