<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Entertain yourself</title>

    {% load staticfiles %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'change_country.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1>Welcome</h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="navbar-nav ml-auto">
                  {% if request.user.username %}
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {% if request.user.is_superuser == True %}
                                  [admin]
                              {% elif request.user.profile.is_developer == True %}
                                  [dev]
                              {% endif %}
                                  {{request.user.username}}
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                          </div>
                      </li>
                  {% else %}
                      <li class="nav-item">
                          <a class="btn btn-info" href="{% url 'login' %}">
                              Login
                          </a>
                      </li>
                  {% endif %}
              </ul>
            </div>
        </div>
    </nav>

    <div class="spotify">

      <!--<div class="songs">
        <h2> Lol Apua! </h2>
        <h3>Spotify songs</h3>
        {% for i in songs %}
          <h5> {{forloop.counter}}: {{i.name}}</h5>
          <iframe src={{i.iframe_url}} frameborder="0" allow="encrypted-media"
          allowtransparency="true" height="80px"></iframe><br>
        {% endfor %}
      </div>-->

      <div class="songs2">
        <h2> You don't really care for music, do you? </h2>
        <div class="country_select">

          <p>Select your country:</p>
          <select id="selected_country" name="country">
            {% for country, value in countries.items %}
                {% ifequal country selected_country %}
                    <option value="{{country}}" selected="selected">{{value}}</option>
                {% else %}
                    <option value="{{country}}">{{value}}</option>
                {% endifequal %}
            {% endfor %}
          </select>
          <a href="{% url 'charts' country_code='fi' %}">
          <button type="button">ok</button>
          <!--<input type="submit" id="changeCountry" name="changeCountry" value="ok">-->
          </a>

        </div>
        <h3>Top songs!</h3>
        {% for j in top_tracks %}
          <div id="{{j.Song}}" class="song_div">
            <h5> {{forloop.counter}}: {{j.Song}} - {{j.Artist}}</h5>
            <iframe src={{j.URL}} frameborder="0" allow="encrypted-media"
            allowtransparency="true" height="80px"></iframe><br>
            <button onclick="test('{{j.Song}}', '{{j.Artist}}')">lyrics</button>
          </div>
        {% endfor %}
      </div>

      <div class="map">
        <h2>Very fancy map yes yes...</h2>
        <iframe src="https://spotifymaps.github.io/musicalcities/" width="700" height="600" frameborder="0"></iframe>
        <h5>
          Above you can see the spotifyMap embedded in iframe.
          You can navigate trough various countries and toggle the
          toplists in different locations.
        </h5>
      </div>

    </div>
    <div id='rg_embed_link_3642086' class='rg_embed_link' data-song-id='3642086'>Read <a href='https://genius.com/Nicki-minaj-chun-li-lyrics'>“Chun-Li” by Nicki Minaj</a> on Genius</div> <script crossorigin src='//genius.com/songs/3642086/embed.js'></script>
  </body>
</html>
