<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Entertain yourself</title>

    {% load staticfiles %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script type="text/javascript">
      var username = '{{request.user.username}}';
    </script>
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'change_country.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1>Welcome</h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="navbar-nav ml-auto">
                  {% if request.user.username %}
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {% if request.user.is_superuser == True %}
                                  [admin]
                              {% elif request.user.profile.is_developer == True %}
                                  [dev]
                              {% endif %}
                                  {{request.user.username}}
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                          </div>
                      </li>
                  {% else %}
                      <li class="nav-item">
                          <a class="btn btn-info" href="{% url 'login' %}">
                              Login
                          </a>
                      </li>
                  {% endif %}
                  <li class="nav-item">
                    <a class="btn btn-info" href="{% url 'logout' %}">
                        Logout
                    </a>
                  </li>
              </ul>
            </div>
        </div>
    </nav>

    <div class="spotify">

      <div class="songs">
        <h2> Here is some music for you! </h2>
        <div class="country_select">

          <p>Select your country:</p>
          <select id="selected_country" name="country">
            {% for country, value in countries.items %}
                {% ifequal country selected_country %}
                    <option value="{{country}}" selected="selected">{{value}}</option>
                {% else %}
                    <option value="{{country}}">{{value}}</option>
                {% endifequal %}
            {% endfor %}
          </select>
          <button type="button" id="changeCountry">ok</button>
          <button type="button" id="charts">charts</button>
          
        </div>
        <h3>Top songs!</h3>
        {% for j in top_tracks %}
          <div id="{{j.Song}}" class="song_div">
            <h5> {{forloop.counter}}: {{j.Song}} - {{j.Artist}}</h5>
            <iframe src={{j.URL}} frameborder="0" allow="encrypted-media"
            allowtransparency="true" height="80px"></iframe><br>
            <button onclick="test('{{j.Song}}', '{{j.Artist}}')">LoadLyrics</button>
            <div class="dropdown">
              <span>Lyrics</span>
              <div class="dropdown-content" id="lyrics-{{j.Song}}">
                <p>No lyrics loaded <br>
                  (lyrics take while to load)
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="map">
        <iframe src="https://spotifymaps.github.io/musicalcities/" width="700" height="600" frameborder="0"></iframe>
        <h5>
          Above you can see the spotifyMap embedded in iframe.
          You can navigate trough various countries and toggle the
          toplists in different locations.
        </h5>
        <h2>Leave a comment below</h2>
        <div id="comments" style="overflow:auto; height:400px; width:90%; background-color:white;">
          {% for c in comments %}
            <h5>< {{c.user}} >: {{c.comment}}</h5><br>
          {% endfor %}
        </div>
        <form id="comment-form" action="POST">
         Comment:
         <input id="comment-content" type="text" name="comment" value="Write something">
         <input id="comment-submit" type="submit" value="post">
        </form>
      </div>

    </div>
  </body>
</html>
